# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [2]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [3]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [4]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length','level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [5]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [13]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster(['127.0.0.1'])

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [14]:
# Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify  
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace

In [15]:
# Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

**-------------------------------------------------------------------------------**
### Session for Query 1

1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

**Explanation:** From the question 1, I found the two fields (sessionId and itemInSession) that are used to select data. So the Primary Key has two fields for the 'song_details_session' table: 
- sessionId is the partition key, and 
- itemInSession is clustering key.

In [16]:
## Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4
create_table_query1 = " CREATE TABLE IF NOT EXISTS song_details_session "
create_table_query1 = create_table_query1 + "(sessionId INT, itemInSession INT, artist TEXT, song TEXT, length FLOAT, PRIMARY KEY (sessionId, itemInSession))"

try:
    session.execute(create_table_query1)
except Exception as e:
    print(e)

In [17]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## Assign the INSERT statements into the `insert_query1` variable
        insert_query1 = " INSERT INTO song_details_session (sessionId, itemInSession, artist, song, length) "
        insert_query1 = insert_query1 + " VALUES (%s, %s, %s, %s, %s) "
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(insert_query1, (int(line[8]), int(line[3]), line[0], line[9], float(line[5])))

In [18]:
## Add in the SELECT statement to verify the data was entered into the table
select_query1 = " select artist, song, length from song_details_session WHERE sessionId = 338 AND itemInSession = 4 "

try:
    rows = session.execute(select_query1)
except Exception as e:
    print(e)

results = [row for row in rows]
pd.DataFrame(results)

      artist                             song      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

**-------------------------------------------------------------------------------**
### Session for Query 2

2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

**Explanation:** From the question 2, I found the three fields (userid, sessionId, and itemInSession) that are need to used for the 'song_playbyuser_session' table as below:
- userid is the partition key,  
- sessionId is clustering key, and
- itemInSession are used for ORDER BY.

In [26]:
## Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182
create_table_query2 = " CREATE TABLE IF NOT EXISTS song_playbyuser_session "
create_table_query2 = create_table_query2 + "( userId INT, sessionId INT, itemInSession INT, artist TEXT, song TEXT, firstName TEXT, lastName TEXT, PRIMARY KEY ((userid, sessionId) , itemInSession)) WITH CLUSTERING ORDER BY (itemInSession ASC);"

try:
    session.execute(create_table_query2)
except Exception as e:
    print(e)

In [27]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## Assign the INSERT statements into the `insert_query2` variable
        insert_query2 = " INSERT INTO song_playbyuser_session (userId, sessionId, itemInSession, artist, song, firstName, lastName) "
        insert_query2 = insert_query2 + " VALUES (%s, %s, %s, %s, %s, %s, %s) "
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(insert_query2, (int(line[10]), int(line[8]), int(line[3]), line[0], line[9], line[1], line[4]))

In [28]:
## Add in the SELECT statement to verify the data was entered into the table
select_query2 = " SELECT artist, song, firstName, lastName FROM song_playbyuser_session WHERE userId = 10 AND sessionId = 182 ORDER BY itemInSession ASC"

try:
    rows = session.execute(select_query2)
except Exception as e:
    print(e)
    
results = [row for row in rows]
pd.DataFrame(results)

,artist,song,firstname,lastname
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

**-------------------------------------------------------------------------------**
### Session for Query 3

3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

**Explanation:** From the question 3, the song fields that are need to used for the 'user_playsong' table, but it's not enough to make the each of rows as more unique. For the query want to who are listen the the given song, so the userId are add to used for PRIMARY KEY in the table:
- song is the partition key, and 
- userId is clustering key.

In [29]:
## Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'
create_table_query3 = " CREATE TABLE IF NOT EXISTS user_playsong "
create_table_query3 = create_table_query3 + "(song TEXT, userId INT, firstName TEXT, lastName TEXT, PRIMARY KEY (song, userId))"

try:
    session.execute(create_table_query3)
except Exception as e:
    print(e)

In [30]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## Assign the INSERT statements into the `insert_query2` variable
        insert_query3 = " INSERT INTO user_playsong (song, userId, firstName, lastName) "
        insert_query3 = insert_query3 + " VALUES (%s, %s, %s, %s) "
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(insert_query3, (line[9], int(line[10]), line[1], line[4]))

In [31]:
## Add in the SELECT statement to verify the data was entered into the table
select_query3 = " SELECT firstName, lastName FROM user_playsong WHERE song = 'All Hands Against His Own' "

try:
    rows = session.execute(select_query3)
except Exception as e:
    print(e)
    
results = [row for row in rows]
pd.DataFrame(results)

    firstname lastname
0  Jacqueline    Lynch
1       Tegan   Levine
2        Sara  Johnson

### Drop the tables before closing out the sessions

In [32]:
# Drop the table before closing out the sessions
drop_query1 = "DROP TABLE IF EXISTS song_details_session "
try:
    rows = session.execute(drop_query1)
except Exception as e:
    print(e)

drop_query2 = "DROP TABLE IF EXISTS song_playbyuser_session "
try:
    rows = session.execute(drop_query2)
except Exception as e:
    print(e)
    
drop_query3 = "DROP TABLE IF EXISTS user_playsong "
try:
    rows = session.execute(drop_query3)
except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [33]:
session.shutdown()
cluster.shutdown()

### Reference

1. Data Types in Cassandra  ... [Cassandra Documentation](https://cassandra.apache.org/doc/latest/cassandra/cql/types.html)
2. Idea and Sample for using PRIMARY KEY in Query 3 ... [Udacity: Query 3 -- how to do without ALLOW FILTERING](https://knowledge.udacity.com/questions/69186)
3. Idea and Sample for how to use ORDER BY ... 
    - [Using clustering order](https://docs.datastax.com/en/cql-oss/3.1/cql/cql_reference/refClstrOrdr.html)
    - [Where and Order By Clauses in Cassandra CQL](https://www.titanwolf.org/Network/q/c6fa6822-eae2-4200-93c1-64beece7cbac/y)
4. Idea and Sample for how to use Panda dataframes for show result of query ... [Fastsandra: Faster Python Cassandra Driver](https://dev.to/arthurandres/fastsandra-faster-python-cassandra-driver-3hnh)